h1,h2 {
    text-align: center;
}
.small-container{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    
}
.form {
    width: 30%;
    outline: 1px solid red;
    
}
.list-container {
    width: 65%;
    outline: 1px solid yellowgreen;
}



.list li {
    border-radius: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    background: #1aff0b70;
    span{
        background: #f35a5a66;
        display: inline-block;
        margin: 5px;
    }
    button {
        margin: 0 10px;
    }
}